// Vars
	@import 'vars/colors';
// Modules
	@import 'modules/preloader';
	@import 'modules/footer';
// Responsive SCSS Plugin
	@import '../vendor/sass-mq/mq';
// Pages
	@import 'pages/home';
	@import 'pages/portfolio';
	@import 'pages/contact-us';
	@import 'pages/technologies';
	@import 'pages/services';
	@import 'pages/about-us';
// Themes
	@import 'themes/clickin';

body {
	.wrapper {
		position: relative;
		// Menu
		.header-v6 {
			.navbar-brand {
				img {
					height: 40px;
				}
			}
			.navbar-nav {
				> li {
					a {
						font-size: 12px;
						padding: 20px 30px;
						color: #bbb;
					}
					&.current-menu-item {
						a {
							text-shadow: none;
							color: #111;
							font-weight: bold;
						}
					}
				}
			}
		}
		// Breadcrumbs
		.breadcrumbs-v3 {
			min-height: 450px;
			margin-bottom: 30px;
			@include mq($until: tablet) {
				margin-bottom: 0;
			}
			.container {
				margin-top: 110px;
			}
			&.img-v3 {
				background-repeat: no-repeat;
				background-position: bottom center;
			}
		}
		// Container Content
		.container {
			&.content-md,
			&.content-sm,
			&.content {
				@include mq($until: tablet) {
					padding-top: 30px;
					padding-bottom: 10px;
				}
			}
		}
	}
}
