@import "unify/style";
@import "unify/headers/header-default-centered";
@import "unify/footers/footer-v1";
@import "unify/theme-skins/dark";
body {
	// Logotype
	.header {
		.logo {
			img {
				margin: 5px 0;
			}
		}
	}
	// Menu
	.header {
		.navbar-nav {
			> li {
				a {
					font-size: 12px;
					padding: 20px 30px;
					color: #bbb;
				}
				&.current-menu-item {
					a {
						text-shadow: none;
						color: #111;
					}
				}
			}
		}
	}
}
