.abous-us__page {
	margin-bottom: 40px;
	@include mq($until: desktop) {
		margin-bottom: 10px;
	}
	.breadcrumbs-v3 {
		&.img-v3 {
			background: url('../images/about-us/R3NhyRLEnTw.jpg') no-repeat bottom center;
			background-size: 100% auto;
			@include mq($until: desktop) {
				background-size: auto auto;
			}
		}
	}
	.image__container {
		@include mq($until: desktop) {
			margin-bottom: 20px;
		}
	}
}
