.abous-us__page {
	margin-bottom: 40px;
	@include mq($until: desktop) {
		margin-bottom: 10px;
	}
	.breadcrumbs-v3 {
		&.img-v3 {
			background: url('../images/about-us/about-us-bg-2.jpg');
			background-position: top center !important;
		}
	}
	.image__container {
		@include mq($until: desktop) {
			margin-bottom: 20px;
		}
	}
}
