.home__page {
	// Home Page Slider
	.tp-caption.re-title-v1 {
		width: 846px;
		height: 54px;
		background:transparent url('../images/home/sliders/logo.png') left top no-repeat;
		background-size: 100% auto;
		margin: 0 auto;
	}
	@include mq($until: desktop) {
		// Title
		.tp-caption.re-title-v1.sft.start {
			width: 80% !important;
			text-align: center !important;
			display: block;
		}
		.btn-u.btn-u-lg {
			text-align: center !important;
			display: block !important;
			padding: 15px;
			margin-bottom: 20px;
			width: 200px !important;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	@include mq($until: tablet) {}
}