.portfolio__page {
	position: relative;
	overflow: hidden;
	.breadcrumbs-v3 {
		&.img-v3 {
			background: url('../images/portfolio/mx3rAJXF3B4.jpg');
		}
	}
	.portfolio__item__container {
		margin-bottom: 40px;
		.portfolio__item {
			background: #fafafa;
			height: 100%;
			box-shadow: 2px 2px 4px rgba(0,0,0,.15);
		}
	}
	.news-v1 .news-v1-in {
		background: none;
	}
}