// Services Page
.services__page {
	position: relative;
	overflow: hidden;
	.breadcrumbs-v3 {
		&.img-v3 {
			background: url('../images/services/services-bg.jpg');
			background-position: top center !important;
		}
	}
	.featured-blog .featured-img:after {
		display: none;
	}
}
